body {
    text-align: center;
}
  #score {
    /*float:left;*/
    border: 1px red solid;
    /*height: 200px;
    width: 100px;*/
    display: block;
    text-align: center;

}

/*canvas {*/
  border: 2px solid black;
}
